output "Dell Inc. DELL S2722QC F1YPLD3" {
    mode "3840x2160@59.997"
    scale 1.5
    transform "90"
    position x=0 y=80
}

output "BOE NV145WUM-N42 Unknown" {
    mode "1920x1200@60.003"
    scale 1
    position x=1440 y=1440
}

output "Samsung Electric Company LS27D70xE HK2L300217" {
    mode "3840x2160@60.000"
    scale 1.5
    position x=1920 y=0
}

